!!! strict
%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8" }
    %title= @title
    %meta{:name=>"Author", :content=>"author"}
    %meta{:name=>"Robots", :content=>"index,all"}
    %meta{:name=>"Keywords", :content=>"keywords"}
    %meta{:name=>"Description", :content=>"description"}
    
    %link{:rel=>"stylesheet", :href=>"/style.css", :media=>"screen"}
    
  %body
    %div#wrapper
      %div#header
        %h1= "Oblique Strategies"
        %ul#navigation
          %li
            %a{:href => "/"}= "random"
          %li
            %a{:href => "/about"}= "about"
          %li
            %a{:href => "/docs"}= "api"
          %li
            %a{:href => "/subscribe"}= "subscribe"
      %div#content
        = @flash
        = yield
      %div#footer
        %a{:href => "http://ang.st"}= "Site by ang.st"
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11907887-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
